div.green {
    background-color: #009688;
    height: 15vh;
}

div.beige {
    background-color: #d9dbd4;
    height: 85vh;
}

div#chat-wrapper {
    background-color: white;
    width: 100%;
    height: 80%;
    top: 10%;
}

div#chat-wrapper div#contacts {
    width: 30%;
}

div#contacts .header {
    background-color: #eaeaea;
}

div#chat-wrapper div#chat {
    width: 70%;
}

div#chat-wrapper div#avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: brown;
}

div#contacts div#notifications {
    background-color: #8ddafb;
    height: 85px;
}

div#notifications .bell-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
}

.my-light-blue {
    color: #8ddafb;
}