div.green {
    background-color: #009688;
    height: 15vh;
}

div.beige {
    background-color: #d9dbd4;
    height: 85vh;
}

div#chat-wrapper {
    background-color: white;
    width: 100%;
    height: 90%;
    top: 5%;
}

div#chat-wrapper div#contacts {
    width: 30%;
}

div#contacts .header, 
div#chat .header {
    background-color: #eaeaea;
    height: 8%;
}

div#chat-wrapper div#chat {
    width: 70%;
}

div#chat-wrapper div#user-avatar,
div#notifications .bell-icon,
div#contact-avatar {
    height: 50px;
    width: 50px;
}

div#contacts div#notifications {
    background-color: #8ddafb;
    height: 80px;
}

div#notifications .bell-icon {
    background-color: white;
}

div.search-bar input#search-input::-webkit-input-placeholder,
div#chat-footer input#message-input::-webkit-input-placeholder {
    font-size: .8rem;
}

div#notifications {
    height: 60px;
    width: 60px;
}

div#contacts #contact-box.active,
div#contacts #contact-box:hover {
    background-color: #ebebeb;
}

div#contact-chat-info img {
    width: 15%;
}

div#chat div.chat-container {
    background-image: url('../img/mine.jpg');
    height: 84%;
}

div#chat div.chat-container .sent-message {
    background-color: #d5f9ba;
}

div#chat div.chat-container .received-message {
    background-color: white;
}

div#chat div#chat-footer {
    height: 8%;
    background-color: #f3eee9;
}

div#chat-footer input {
    height: 90%;
    border: none;
}

* i {
    cursor: pointer;
}

/* Colors */
.my-light-blue {
    color: #8ddafb;
}

.my-grey {
    color: #b1b1b1;
}

.my-grey-bg {
    background-color: #f8f8f8;
}

.my-small-text {
    font-size: .8rem;
}

.my-smaller-text {
    font-size: .6rem;
}